.App {
  padding: 80px;
}

.flex {
  display: flex;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.align-center {
  align-items: center;
}

body {
  background-color: #f3f3f3 !important;
}
